nav#side-nav {
    width: 200px;
    min-height: 100vh;

    background-color: #318CEF;
    
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

nav#side-nav li {
    list-style: none;
    margin: 20px auto;
}

nav#side-nav ul {
    padding: 0;
}

nav#side-nav hr {
    width: 25%;
    background-color: black;
    height: 1px;
    border: 0;
}

nav#side-nav a {
    text-decoration: none;
    color: black;
}

@media (max-width : 767px) {
    nav#side-nav {
        display: none;
    }
}